body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
    font-family: "Arial", "Helvetica", sans-serif;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

.game21-form {
    background-color: #f2f2f2;
    padding: 1em;
    margin-bottom: 1em;
}

.game21-form label {
    font-weight: bold;
}

.game21-form label,
.game21-form select,
.game21-form .submit {
    margin: 0.5em;
}

.game21-form .submit {
    padding: 0.4em;
    font-weight: bold;
}

.dice-utf8 {
    font-size: 5em;
    line-height: 0.5em;
    margin: 0;
}

.dice-utf8 .dice-1::after { content: "\2680"; font-style: normal; }
.dice-utf8 .dice-2::after { content: "\2681"; font-style: normal; }
.dice-utf8 .dice-3::after { content: "\2682"; font-style: normal; }
.dice-utf8 .dice-4::after { content: "\2683"; font-style: normal; }
.dice-utf8 .dice-5::after { content: "\2684"; font-style: normal; }
.dice-utf8 .dice-6::after { content: "\2685"; font-style: normal; }


.yatzy-form {
    display: flex;
    flex-direction: column;
}

.yatzy-form .submit {
    padding: 0.4em;
    width: 200px;
    font-weight: bold;
}

.yatzy-dice {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin: 1em;
}

.onedice {
    text-align: center;
}

.dice-image {
    width: 50px;
    height: 50px;
    padding: 0 1em;
}
